  <app-card class="text-gray-600">
    <header class="px-4 pt-4 pb-2 text-2xl border-b border-gray-400">
      <span>Login</span>
    </header>
    <div class="p-4">
      <label class="block pb-2">Account:</label>
      <input [formControl]="account" class="w-full p-1 border border-gray-400" name="account" type="text">
      <label class="block mt-4 pb-2">Password:</label>
      <input [formControl]="passwd" class="w-full p-1 border border-gray-400" name="passwd" type="password">
    </div>
    <div class="pb-4 text-center">
      <button (click)="logIn()" class="bg-teal-700 hover:bg-teal-900 text-white font-bold py-2 px-4 rounded">Log In</button>
    </div>
  </app-card>
